
main {
    justify-content: space-between;
}

h1 {
    margin: 4% 0 0 0;
}

#home-text {
    width: 60%;
    text-align: left; 
}

#home-img {
    width: 35%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-img img {
    max-width: 100%;
    height: auto; 
    border-radius: 2vh;
}

