

body{
    background-color:rgb(220,200,200);
    margin:0px;
    
    -ms-overflow-style: none;
    scrollbar-width:none;
}

::-webkit-scrollbar{
    display:none;
}


header {
    background-color:#121e63;
    color:rgb(220, 200, 200);
    position:fixed;
    border-width:0px;
    width:100vw;



}

a {
    color: rgb(220, 200, 200);
    
}

img{
    width:100vw;

    
    
}
